<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADSTC_Operator___Rebuild.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <ADSTC_Operator___Rebuild.My.MySettings>
            <setting name="LogicielName" serializeAs="String">
                <value />
            </setting>
            <setting name="OrganisationName" serializeAs="String">
                <value />
            </setting>
            <setting name="ResponsableName" serializeAs="String">
                <value />
            </setting>
            <setting name="MethodeConfig" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmplacementFichierMethode" serializeAs="String">
                <value />
            </setting>
            <setting name="CleSecuFichierMethode" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlBddMethode" serializeAs="String">
                <value />
            </setting>
            <setting name="BddNameMethode" serializeAs="String">
                <value />
            </setting>
            <setting name="TableNameMethode" serializeAs="String">
                <value />
            </setting>
            <setting name="IdentifiantBddMethode" serializeAs="String">
                <value />
            </setting>
            <setting name="MdpBddMethode" serializeAs="String">
                <value />
            </setting>
            <setting name="ReseauNameProtoc" serializeAs="String">
                <value />
            </setting>
            <setting name="IdentifiantReseauProtoc" serializeAs="String">
                <value />
            </setting>
            <setting name="MdpReseauProtoc" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlBddProtoc" serializeAs="String">
                <value />
            </setting>
            <setting name="PortBddProtoc" serializeAs="String">
                <value />
            </setting>
            <setting name="NameBddProtoc" serializeAs="String">
                <value />
            </setting>
            <setting name="NameTableProtoc" serializeAs="String">
                <value />
            </setting>
            <setting name="IdentifiantBddProtoc" serializeAs="String">
                <value />
            </setting>
            <setting name="MdpBddProtoc" serializeAs="String">
                <value />
            </setting>
            <setting name="PrixHeure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TvaType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UrlBddCaisse" serializeAs="String">
                <value />
            </setting>
            <setting name="NameBddCaisse" serializeAs="String">
                <value />
            </setting>
            <setting name="NameTableCaisse" serializeAs="String">
                <value />
            </setting>
            <setting name="IdentifiantCaisse" serializeAs="String">
                <value />
            </setting>
            <setting name="MdpCaisse" serializeAs="String">
                <value />
            </setting>
            <setting name="SynchroCaisseEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeOperator" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LicenceUser" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenceKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AdstcOperatorReady" serializeAs="String">
                <value>False</value>
            </setting>
        </ADSTC_Operator___Rebuild.My.MySettings>
    </userSettings>
</configuration>